# Server Configuration
PORT=3000
NODE_ENV=development

# Blockchain Configuration
PROVIDER_URL=https://api.mainnet.abs.xyz
CONTRACT_ADDRESS=0x09Ee83D8fA0f3F03f2aefad6a82353c1e5DE5705

# CORS Configuration (comma-separated list)
ALLOWED_ORIGINS=http://localhost:8080,http://127.0.0.1:8080

# Caching Configuration
CACHE_DURATION=120000 # 2 minutes in milliseconds 